<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Add Beer">
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="beer-list">
            <div class="col-sm-1">
                <input type="checkbox">
            </div>
            <div class="col-sm-7">
                Some Beer
            </div>
            <div class="col-md-4">
                <input type="button" value="Delete" class="btn btn-danger">
            </div>
        </div>
    </div>
</div>